body {
  font-family: var(--font-family-body);
  background-color: var(--color-primary);
  color: var(--color-text);
}

.grid {
  --box-size: 150px;
  --page-grid-gap: var(--size-spacing-medium);

  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--box-size), var(--box-size))
  );
  justify-content: center;
  padding: var(--page-grid-gap);
  gap: var(--page-grid-gap);
  align-items: start;
}

.grid > main {
  display: contents;
}
