.grid {
    --box-size: 150px;
    --page-grid-gap: var(--size-spacing-medium);

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--box-size), var(--box-size)));
    justify-content: center;
    padding: var(--page-grid-gap);
    gap: var(--page-grid-gap);
    align-items: start;
}

.grid > main {
    display: contents;
}

.grid > main ul,
.grid > main ol {
    display: contents;
}

.grid > main li {
    display: flex;
    aspect-ratio: 1 / 1;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--color-accent);
    border-radius: 6px;
    padding: var(--size-spacing-small);
    background: var(--color-background);
    background-size: contain;
}

.grid > main li a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: var(--size-spacing-small);
    border: 2px solid var(--color-accent);
    border-radius: 6px;
    background: var(--color-highlight-background);
    text-decoration: none;
    color: inherit;
    z-index: 2;
}

.grid > main li {
    position: relative;
    overflow: hidden;
    align-items: end;
}

.grid > main li svg {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    fill: var(--color-highlight);
    opacity: 0.5;
    z-index: 0;
}

.grid > main li:has(svg, img) > :not(svg, img) {
    position: relative;
    z-index: 1;
}

.grid > main li img {
    top: 0px;
    position: absolute;
    width: 110px;
    height: 110px;
    display: block;
    overflow: clip;
    object-fit: cover;
    object-position: top;
    z-index: 0;
}

.grid > main li:has(img) > a {
    padding: 1px;
}