
body {
    font-family: var(--font-family-body);
    background-color: var(--color-dark-primary);
    color: var(--color-dark-text);
}

.grid {
    --page-grids: 8;
    --page-grid-gap: var(--size-spacing-medium);

    display: grid;
    grid-template-columns: [start]
    repeat(var(--page-grids), 1fr) [end];
    grid-auto-flow: dense;
    padding: 0 calc(0.5 * var(--page-grid-gap));
    gap: var(--page-grid-gap);
    align-items: baseline;

    > main {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 3 / span 4; 

        ul, ol {
            display: contents; /* let list items participate in the parent grid */
        }

        li {
            display: block;
            grid-column: span 1; /* each list item occupies a single grid cell */
            align-self: start;
            box-sizing: border-box;
            aspect-ratio: 1 / 1;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid var(--color-dark-accent);
            border-radius: 6px;
            padding: var(--size-spacing-small);
            background: rgba(255,255,255,0.02);
        }
    }
}

.page > header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: var(--size-spacing-medium);

    background-color: var(--color-dark-primary);
    color: var(--color-dark-highlight);

    font-family: var(--font-family-display);

    h1 {
        font-size: var(--size-type-xxlarge);
    }

    h2 {
        font-size: var(--size-type-small);
    }

    border-bottom: 10px solid var(--color-dark-accent);
    border-radius: 0 0 10px 10px;
}

.page { a, a:visited {
    color: var(--color-dark-text);
    text-decoration: none;
}}
